body {
  background-color: #1a1a1a; 
  color: #ffffff; 
}

header {
  background-color: #ffd700; 
  padding: 16px;
  text-align: center; 
}

h1 {
  font-size: 36px; /* Bigger font size for the header */
  margin: 0; /* Remove default margin for the h1 element */
}

/* Styling for the TransactionTable */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ffffff;
  padding: 8px;
  border-top: 2px solid;
}

th {
  background-color: #ffd700; /* Shiny gold color for table header */
}

/* Styling for the TransactionForm */
form {
  display: flex;
  flex-direction:row;
  
}

label {
  margin-bottom: 8px;
  color: #ffd700; /* Shiny gold color for form labels */
}

input[type="text"],
input[type="number"],
select {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #ffd700; /* Shiny gold color for form button */
  color: #1a1a1a; /* Dark text color for form button */
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ffcc00; /* Lighter gold color for button hover effect */
}

/* Styling for the SearchBar */
input[type="search"] {
  padding: 8px;
  width: 100%;
  margin-bottom: 16px;
}

/* Styling for the SearchBar Results */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  border: 1px solid #ffd700; /* Shiny gold color for list item border */
  margin-bottom: 4px;
}

/* Additional Styling for a Shiny Header */
header {
  background-color: #ffd700; /* Shiny gold color for header background */
  padding: 16px;
  text-align: center;
}
