body {
  background-color: #1a1a1a;
  color: #ffffff;
}

header {
  background-color: #ffd700;
  padding: 16px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
  padding: 0%;
  text-align: center;
  padding: 6px 12px;
  border-radius: 36px;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ffffff;
  padding: 8px;
  border-top: 2px solid;
}

th {
  background-color: #ffd700;
}


form {
  display: flex;
  flex-direction: row;
  padding: 6px 12px;
  border-radius: 36px;
}

label {
  margin-bottom: 8px;
  color: #ffd700;
}

input[type="text"],
input[type="number"],
select {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #ffd700;
  color: #1a1a1a;
  padding: 8px 16px;
  border: 3px solid silver;
  cursor: pointer;
}

button:hover {
  background-color: #ffcc00;
}


input[type="search"] {
  padding: 8px;
  width: 100%;
  margin-bottom: 16px;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  border: 1px solid #ffd700;
  margin-bottom: 4px;
}

div {
  padding: 6px 12px;
  border-radius: 36px;
}